/* Estilo geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0e0b1f;
    height: 100vh;
}
.interface{
    max-width: 1280px;
    margin: 10 auto;
    padding: 40px 50px;
}
.flex{
    display: flex;
}

/*Estilo cabeça */
.txt-topo-site h1{
    color: #fff;
}
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: rgb(119, 119, 119);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}
header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style: none;

}

header .btn-contato {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: greenyellow;
    border: 0;
    border-radius: 30px;
    cursor: pointer; 
}


header .btn-contato hover{
    box-shadow: 0px 0px 8px greenyellow;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

/* estilo do topo*/

section.topo-do-site .flex{

    align-items:center;
    justify-content:center;
}

.topo-do-site h1{
   color: #fff;

}

.img-topo-site img{
    display: block;
    margin-left: 50rem;
    border-radius: 50%;
    
}

.txt-topo-site {
    display: block;
    margin-left: 15rem ;
}

.txt-topo-site h1{
    font-size: 30px;
    width: 200px;
    height: 100px;
}
span{
    color: rgb(14, 188, 57);
}
.about h1{
    font-size: 50px;
}
.about2 h2{
    color:white;
    font-size: 40px;
    width: 700px;
    height: 400px;
}
.tech h3{
    font-size: 50px;
}
.ive h4{
    color: #fff;
    font-size: 30px;
}

/*estilo abaixo do top*/

section.especialidade{
    padding: 40px 4%;
}
.especialidade .esp-box{
    padding: 35px;
}

/* projetos*/
.textin{
    font-size: 50px;

}

section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.11);
}
section.portfolio .flex{
    gap: 80px;
    

}
.flex2{
    padding: 80px 4%;
    display: flex;
    gap: 70px;
}
.img-port{
    width: 360px;
    height: 460px;
    background-color: green;
    background-size: cover;
    background-position: 0% 100%;
    transition: 7s;
    position: relative;
    border-radius: 40px;
}
.img-port:hover{
    background-position: 100% 100%;
}
.over{
    position: absolute;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 47, 47, 0.644);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #07e419;
    opacity: 0;
}
.over:hover{
    opacity: 1;
}
.contact{
    margin-top: 50px;
}
.contact h2{
    font-size: 50px;
    margin-left: 100px;
}
.contact h3{
    margin-left: 100px;
    color: #fff;
}
/* Estilos para os botões */
.portfolio-buttons {
    text-align: center; 
    margin-top: 30px;
}

.portfolio-buttons .btn-portfolio {
    background-color: #07e419;
    color: white;
    padding: 15px 30px; 
    font-size: 18px; 
    border-radius: 30px; 
    text-decoration: none; 
    display: inline-block; 
    margin: 10px; 
}

.portfolio-buttons .btn-portfolio:hover {
    background-color: #00c800; 
}
.linked{
    margin-left: 100px;
    color: #fff;
}



